<!doctype html>
<div class="header">
  <div class="container">
    <div class="header__top">
      <div class="logo">
        <img src="/icons/logo.svg" alt="миграпро" />
      </div>

      <div class="header__rating">
        <img src="/icons/stars.svg" alt="" />
        <p class="rating-text">Наш рейтинг на основе Яндекс</p>
        <span class="blue-line"></span>
      </div>

      <div class="header__socials">
        <a href="#" aria-label="Социальные сети"
          ><img src="/icons/socials.svg" alt=""
        /></a>

        <a href="#" aria-label="Telegram">
          <img src="/icons/tgm.svg" alt="" />
        </a>
      </div>

      <div class="header__contacts">
        <a href="tel:+74951543385" class="contacts-phone">
          <img src="/icons/phone.svg" alt="" width="20" height="20" />
          <span>+7 (495) 154-33-85</span>
        </a>
        <p class="contacts-time">пн-пт: 09:00-18:00</p>
        <span class="blue-line"></span>
      </div>

      <div class="header__cta">
        <button class="btn btn--primary">Бесплатная консультация</button>
      </div>
    </div>
    <nav class="header__bottom" role="navigation">
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">Услуги</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">РВП</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">ВНЖ</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Гражданство</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Разрешение на работу/виза в рф</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Отмена депортации</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">Информация</a>
          <img src="/icons/arrow-down.svg" alt="" class="menu__arrow" />
        </li>
      </ul>
    </nav>
  </div>
</div>
