<!doctype html>
<div class="header">
  <div class="container">
    <div class="header__top">
      <div class="logo">
        <img src="/icons/logo.svg" alt="миграпро" />
      </div>

      <div class="header__rating">
        <div class="rating-box">
          <img src="/icons/stars.svg" alt="stars" />
          <p class="rating-text">Наш рейтинг <br />на основе Яндекс</p>
        </div>
        <span class="blue-line"></span>
      </div>

      <div class="header__contacts">
        <a href="#" aria-label="Социальные сети"
          ><img src="/icons/socials.svg" alt="socials"
        /></a>

        <a href="#" aria-label="Telegram">
          <img src="/icons/tgm.svg" alt="telegramm" />
        </a>
        <a href="tel:+74951543385" class="contacts-phone">
          <img src="/icons/phone.svg" alt="phone" />
          <span>+7 (495) 154-33-85</span>
        </a>
        <p class="contacts-time">пн-пт: 09:00-18:00</p>

        <span class="blue-line"></span>
      </div>

      <div class="header__cta">
        <button class="btn btn--primary">Бесплатная консультация</button>
      </div>
    </div>
    <nav class="header__bottom" role="navigation">
      <ul class="menu">
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">Услуги</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">РВП</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">ВНЖ</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">Гражданство</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">Разрешение на работу/виза в рф</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">Отмена депортации</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link">
            <span class="menu__text">Информация</span>
            <img
              src="/icons/arrow-down.svg"
              alt="arrow-down"
              class="menu__arrow"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
